*.rom
*.iso
*.tar.gz
*.zip
*.tar
*.gz
*.tar.bz2
*.bz2
*.tar.xz
*.xz
*.tar.lz
*.lz
*.tar.zst
*.zst
*.tar.lzma
*.lzma
*.tar.bz
*.bz
*.tar.lzo
*.lzo
*.tar.lz4
*.lz4
*.tar.z
*.z
*.tar.zstd
*.zstd
*.tar.lzop
*.lzop
*.tar.7z
*.7z

*.enc
*.decrypted

*.pem
